html {
    padding: 0;
}
body {
    padding: 0;
    margin: 0;
    background-color: rgb(248, 248, 248);
    font-size: 20px;
}

form {
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
}



form fieldset {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 0 0 5px 5px;
  display: block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
margin-bottom: 20px;
border: 0;
border-top: 2px solid rgb(37, 37, 37);
background-color: rgba(0, 0, 0, 0.01);
  
}

form legend {
    font-size: 1.2em;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-size: 1em;
}

form input, form textarea, form select  {
    width: 200px ;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-sizing: border-box; /* fixes select asimetria*/
    box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    /*border: 1px solid rgb(165, 164, 164); */
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.8em;
}

form input[type="checkbox"]{
    background-color: aqua;
    box-shadow: 0 0 0 0;

}

.checkboxFlex{
    display: flex;
    max-width: 300px;
    margin-bottom: 10px;
}

.nobreak{
    white-space: nowrap;
    width: 180px;
}

form.subd input:invalid{
    background-color: red;
}

form input[type='submit'] {
    margin: auto;
    font-size: 1.1em;
    cursor: pointer;
    color: rgb(46, 46, 46);
    background-color: rgb(158, 235, 143) ;
    width: 100px;
  }
  form input[type='submit']:hover{
    background-color: rgb(21, 253, 0);
    color: rgb(255, 255, 255);
    transition: 0.2s;
  }

input::placeholder, textarea::placeholder {
    font-style: italic;
}
#formSuccess, #welcome{
    padding: 25px;
    border-radius: 5px;
    margin: 0;
    font-size: 1.3em;
    text-align: end;

}
.failure{
    background-color: rgb(255, 10, 10, 0.2);
}

.success{
    background-color: rgba(9, 255, 0, 0.2);
}

[name="add_favorite"]{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #e74c3c; /* Red color, you can change this */
    text-shadow: 0 0 8px #e74c3c;
    transition: text-shadow 0.3s ease, transform 0.3s ease; /* Smooth color transition on hover */
}
[name="add_favorite"]:hover {
    text-shadow: 0 0 3px #e74c3c; /* Add shadow on hover for a subtle effect */
    transform: scale(1.2);
    transition: text-shadow 0.3s ease, transform 0.3s ease;
}

/* Category */
.clean-ul{
    list-style: none;
    padding: 0;
}

.clean-a{
    text-decoration: none;
    color: black;
}

.redHover:hover {
    color: #e74c3c;
}

[name="categories"]{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

[name="categories"] > li {
    padding: 10px;
    width: 170px;
}

[name="categories"] > li:hover {
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.2), 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: white;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;

}

[name="categories"] > li h3{
    margin: 5px;
}

.imageContainer{
    /*background-color: blue;*/
    padding: 5px 0 10px;
    width: 100%;
    height: 100px;
    overflow: hidden; /* Hide any overflow beyond the container */
    position: relative;
}

.imageContainer img {
    min-height: 100%;
    /*min-width: 100%;*/
    object-fit: cover; 
    object-position: center;
    display: block;
}

/* ads */ 
.adLezanta{
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
}

.adContent .imageFrame{
    float: left;
    margin: 0 10px;
    width: 150px;
    height: 150px;
    /*background-color: aquamarine;*/
    overflow: hidden; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.adContent .imageFrame img {
    height: 200px;
}

.clearElement{
    clear: both;
}

[name="ads"]{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    gap: 15px; 
}

[name="ads"] [name="title"]{
    font-size: 1.3em;
}

[name="categoryAd"] {
    margin-bottom: 15px ;
    padding: 10px;
    border-radius: 3px;
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 500px;
    max-height: 600px;
    overflow: auto;
    transition: background-color 0.3s ease;

}

[name="categoryAd"]:hover{
    background-color: white;
    transition: background-color 0.3s ease;
}

[name="cost"]{
    padding-left: 10px;
}

nav{
    position: absolute;
    top: 0;
    background-color: #d32916;
    transition: transform 0.3s ease;
    transform: rotate(20deg);
}

nav a{
    font-size: 1.4em;
    text-align: center;    
    transition: transform 0.3s ease;
    padding: 11px 2.1em 10px 2em;
    border-bottom: 2px solid black;
    display: inline-block;
    transform: rotate(-40deg);

}

[name="menu_option"]{
    color: rgb(255, 255, 255);

}

nav:hover{
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}


nav:hover > a{
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.marginMenuElement{
    margin-top: 120px;
}

#navWrap{
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: rgb(255, 255, 255); 
    height: 100px;
    width: 100%;
    display: block;
    text-align: end;
    margin-left: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); /* Subtle shadow */

}

#navWrap .messageContainer{
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: end;
}

#navWrap .messageContainer h3 {
    padding-right: 1em;
}

@media (max-width: 800px){
    body {
        background-color: rgb(248, 248, 248);
        font-size: 12px;
    }

    .marginMenuElement{
        margin-top: 60px;
    }

    #navWrap{
        height: auto;
    }
    nav{
        position: relative;
        transform: rotate(0deg);
        margin-bottom: 0;
        background-color: black;
    }
    nav a{
        transform: rotate(0deg);
    }

    #navWrap .messageContainer{
        display: none;
        height: 0;
    }

    


}

@media (max-width: 500px){
    #submitlogin{
        margin: 0;
    }
    #loginForm input{
        display: block;
    }


}

