html {
    padding: 0;
}
body {
    padding: 0;
    margin: 0;
    background-color: rgb(248, 248, 248);
    font-size: 16px;
    
}

h1 {
    text-align: center;
}

form {
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
}


#loggedBar {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logoutBtn{
    margin-left: 10px;
    padding: 20px;
    font-size: 1.2em;
    width: 200px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 100, 100);
}

#logoutBtn:hover{
    background-color: rgb(255, 0, 0);
    color: white;
    transition: 0.2s;
}



form fieldset {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 0 0 5px 5px;
  display: block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid rgb(37, 37, 37);
    background-color: rgba(0, 0, 0, 0.01);
}

form legend {
    font-size: 1.2em;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-size: 1em;
}

form input, form textarea, form select  {
    width: 200px ;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-sizing: border-box; /* fixes select asimetria*/
    box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.1); 
    /*border: 1px solid rgb(165, 164, 164); */
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.8em;
}

form input[type="checkbox"]{
    background-color: aqua;
    box-shadow: 0 0 0 0;

}

.checkboxFlex{
    display: flex;
    max-width: 300px;
    margin-bottom: 10px;
}

.nobreak{
    white-space: nowrap;
    width: 180px;
}

form.subd input:invalid{
    background-color: red;
}

form input[type='submit'] {
    margin: auto;
    font-size: 1.1em;
    cursor: pointer;
    color: rgb(46, 46, 46);
    background-color: rgb(158, 235, 143) ;
    width: 100px;
  }
  form input[type='submit']:hover{
    background-color: rgb(21, 253, 0);
    color: rgb(255, 255, 255);
    transition: 0.2s;
  }

input::placeholder, textarea::placeholder {
    font-style: italic;
}
#formSuccess, #welcome{
    padding: 25px;
    border-radius: 5px;
    margin: 0;
    font-size: 1.3em;
    text-align: end;

}
.failure{
    background-color: rgb(255, 10, 10, 0.2);
}

.success{
    background-color: rgba(9, 255, 0, 0.2);
}

[name="add_favorite"]{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #e74c3c;
    text-shadow: 0 0 8px #e74c3c;
    transition: text-shadow 0.3s ease, transform 0.3s ease;
}
[name="add_favorite"]:hover {
    text-shadow: 0 0 3px #e74c3c;
    transform: scale(1.2);
    transition: text-shadow 0.3s ease, transform 0.3s ease;
}

/* Category */
.clean-ul{
    list-style: none;
    padding: 0;
}

.clean-a{
    text-decoration: none;
    color: black;
}

.redHover:hover {
    color: #e74c3c;
}

[name="categories"]{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

[name="categories"] > li {
    padding: 10px;
    width: 200px;
    font-size: 1.2em;
}

[name="categories"] > li:hover {
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.2), 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: white;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;

}

[name="categories"] > li h3{
    margin: 5px;
}

.imageContainer{
    /*background-color: blue;*/
    padding: 5px 0 10px;
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
}

.imageContainer img {
    min-height: 100%;
    /*min-width: 100%;*/
    object-fit: cover; 
    object-position: center;
    display: block;
}

/* ads */ 
.adLezanta{
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
}

 .imageFrame{
    float: left;
    margin: 0 10px;
    width: 150px;
    height: 150px;
    /*background-color: aquamarine;*/
    overflow: hidden; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imageFrame img {
    height: 200px;
}

.clearElement{
    clear: both;
}

[name="ads"]{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    column-gap: 15px; 
    margin-top: 0;
}

[name="ads"] [name="title"]{
    font-size: 1.3em;
}

[name="categoryAd"] {
    margin-bottom: 15px ;
    padding: 10px;
    border-radius: 3px;
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 500px;
    max-height: 400px;
    overflow: hidden auto;
    background-color: rgb(252, 252, 252);
    transition: background-color 0.1s ease;
    display: inline-block;
}

[name="categoryAd"]:hover{
    background-color: white;
    transition: background-color 0.1s ease;
}

[name="cost"]{
    padding-left: 10px;
}

nav{
    background-color: #d32916;
    transform: rotate(20deg);
}

nav span{
    font-size: 1.8em;
    text-align: center;    
    padding: 11px 2.1em 15px 2em;
    border-bottom: 2px solid black;
    display: inline-block;
    transform: rotate(-40deg);

}

#linkWrap{
    position: absolute;
    top: 0;
    height: 100%;
    display: block;
    z-index: 20;
    cursor: pointer;
}

#linkWrap > nav > span{
    color: white;
}

#linkWrap:hover > nav > span{
    color: yellow;
}

.marginMenuElement{
    margin-top: 120px;
}

#navWrap{
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: rgb(255, 255, 255); 
    height: 100px;
    width: 100%;
    display: block;
    text-align: end;
    margin-left: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 

}

#navWrap .messageContainer{
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: end;
}

#navWrap .messageContainer h3 {
    padding-right: 1.5em;
}

#favorites{
    border-radius: 5px;
    background-color: rgb(127, 255, 133);
    padding: 20px;
    font-size: 1.2em;
    width: 200px;
    display: inline-block;
    text-align: center;

}

#favorites:hover{
    background-color: rgb(59, 223, 67);
}

.gallery{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

#gridWrapper{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-areas: 
    "main sidebar"
    ;
}

main{
    grid-area: main;
}

#side-menu{
    white-space: nowrap;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: none;
    border-left: 2px solid rgba(0, 0, 0, 0.438);
    border-radius: 5px;

}

#side-menu-wrapper{
    grid-area: sidebar;
    display: inline-block;
    white-space: nowrap;
    max-width: 300px;
}

.radioOption{
    padding: 10px 10px;
}

[name="specs"]{
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
  }

  [name="specs"] tr {
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
  }
    
  [name="specs"] td{
    border: 1px solid #292929;
    text-align: left;
    padding: 8px;
    margin: 2px;
  }

@media (max-width: 800px){
    body {
        background-color: rgb(248, 248, 248);
        font-size: 12px;
    }

    .marginMenuElement{
        margin-top: 60px;
    }

    #navWrap{
        height: auto;
    }
    #linkWrap{
        position: relative;

    }
    nav{
        position: relative;
        transform: rotate(0deg);
        margin-bottom: 0;
        background-color: black;
    }
    nav span{
        transform: rotate(0deg);
    }

    #navWrap .messageContainer{
        display: none;
        height: 0;
    }

    #gridWrapper{
        display: grid;
        grid-template-columns: 1fr min-content;
        grid-template-areas: 
        "sidebar"
        "main"
        ;
    }

    #side-menu-wrapper{
        max-width: 100%;
    }

}

@media (max-width: 500px){
    #submitlogin{
        margin: 0;
    }
    #loginForm input{
        display: block;
    }

}

